<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="TableStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=andrewtablestoragetest;AccountKey=IN4AjbU+XV44U3PAcOtKm/pZRPYSVjLCTXgfzk/OL7UyL9Kut5Jqec30CazsTgh6gx1BLDLNci0HTqMrNK3uow==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>